*{
    padding: 0;
    margin: 0;
}
#logo{
    color: #4CAF50;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
body {
    font-family: Arial, sans-serif;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    margin: auto;
    padding: 2px;
    background-color: #f9f9f9;
    overflow-x: auto;
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
}

.invoice-no, .invoice-date {
    display: flex;
    justify-content: center;
}

.billing-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}

.billed-by, .billed-to {
    width: 100%;
    max-width: 48%;
    padding: 0%;
    box-sizing: border-box;
}
.billed-to{
    display: flex;
    flex-direction: column;
    align-items: end;
}
#client-details{
    resize: horizontal;
    height: 100%;
}
.invoice-items {
    padding: 0px 0;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.invoice-items table {
    width: 100%;
    border-collapse: collapse;
}

.invoice-items table th, .invoice-items table td {
    border: 1px solid #ddd;
    padding: 0%;
    text-align: center;
    /* width: 50%;
    height: 10%; */
}

.terms-conditions, .authority-sign {
    padding: 20px 0;
}

#generatePDF {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5%;
}
#generatePDF:hover {
    background-color: #45a049;
}
#grandTotal{
    width: 95%;
}
@media print {
    body * {
        visibility: hidden;
    }
    #addRow{
        visibility: hidden;
    }
    th{
        visibility: visible;
    }
    #generatePDF{
        visibility: hidden;
    }
    .container, .container * {
        visibility: visible;
    }
    .container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
    }
    input[type="date"]::-webkit-inner-spin-button {
        display: none;
    }
    /* Firefox */
    input[type="date"]::-moz-calendar-picker-indicator {
        display: none;
    }
    /* IE/Edge */
    input[type="date"]::-ms-clear {
        display: none;
    }
    /* Fallback for all other browsers */
    input[type="date"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}
#addRow{
    background-color: #4CAF50;
    color: white;
    border-color: white;
    padding: 2px;
    border-radius: 5%;
}
.rate{
    width: 95%;
    padding: 0%;
}
footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}
.common{
    margin: 0;
    width: 95%;
}
td input{
    font-size: 10px;
}
.terms_sign{
    display: flex;
    border: 1px solid black;
}
.terms-conditions{
    border-right: 0.5px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50%;
}
.authorized_sign{
    border-left: 0.5px solid black;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.subtotal{
    display: flex;
    max-width: 100%;
}
.subtotal table{
    width: 40%;
    border-collapse: collapse;
}
#subtable{
    border: 1px solid black;
}
#subtable th{
    width: 50%;
}
.ack{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}
.subtotal table th, .subtotal table td{
    font-size: 0.7rem;
}
.subtotalcalculation{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.subtotalcalculation ul{
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.7rem;
}
.list1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.list2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
}
